@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h2 {
  margin: 0;
  font-weight: 500;
}

body {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 90px;
  background-color: #11A99E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav_logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 7%;
  background-image: url("../素材/LOGO.png");
  background-size: contain;
}

.navbar .options {
  width: 41%;
  height: 100%;
  margin-right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .options .option {
  font-size: 22px;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.navbar .options .option:hover {
  color: #F3D153;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner .swiper-container {
  width: 100%;
  height: 100%;
}

.banner .swiper-container .swiper-wrapper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner_logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 5%;
  left: 6%;
  border-radius: 50%;
  background-image: url("../素材/LOGO.png");
  background-size: contain;
  z-index: 5;
}

.about {
  width: 100%;
  height: 75vh;
  background-color: #F3D153;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about .spoonpic {
  width: 20%;
  height: 23%;
  background-image: url("../素材/1x/資產 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 6%;
  bottom: 12%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.about .about_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.about .about_box .bosspic {
  height: 45vh;
  width: 50%;
  border-radius: 60px;
  background-image: url("../素材/bosspic.png");
  background-size: cover;
  background-position: center;
}

.about .about_box .about_content {
  margin-left: 6%;
}

.about .about_box .about_content .about_text .about_content1 {
  margin-top: 6%;
  width: 100%;
  color: #F26F27;
}

.about .about_box .about_content .about_text .about_content2 {
  width: 100%;
  margin-top: 7%;
  font-size: 16px;
  line-height: 30px;
}

.market {
  width: 100%;
  height: 85vh;
  background-color: #EEEBEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.market .market_box .market_title {
  width: 100%;
  text-align: center;
}

.market .market_box .market_content {
  width: 100%;
  height: 20%;
  font-size: 13px;
  margin: 2% auto;
  text-align: center;
}

.market .market_box .market_content .market_content1-2 {
  letter-spacing: 0.2px;
}

.market .market_box .market_swiper {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 6%;
  border-radius: 60px;
  background-color: cornflowerblue;
}

.market .market_box .market_swiper .swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.market .market_box .market_swiper .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market .market_box .market_swiper .swiper-container .swiper-button-next {
  position: absolute;
  right: 0px;
  color: white;
}

.market .market_box .market_swiper .swiper-container .swiper-button-prev {
  color: white;
}

.feature {
  width: 100%;
  height: 120vh;
  background-color: #F3D153;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: #EEEBEC;
}

.deliver {
  width: 100%;
  height: 95vh;
  background-color: #F3D153;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deliver .wice_1 {
  width: 15%;
  height: 25%;
  background-image: url("../素材/1x/whiteice.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  position: absolute;
  left: 15%;
  top: 17%;
}

.deliver .wice_2 {
  width: 10%;
  height: 18%;
  background-image: url("../素材/1x/whiteice.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 25%;
  bottom: -11%;
  z-index: 5;
}

.deliver .wice_3 {
  width: 18%;
  height: 52%;
  background-image: url("../素材/1x/halfice.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: absolute;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
}

.deliver .deliver_box {
  width: 63%;
  height: 75vh;
  position: absolute;
  top: 10%;
}

.deliver .deliver_box .deliver_content {
  width: 100%;
  height: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deliver .deliver_box .deliver_content .deliver_product {
  width: 44%;
  height: 100%;
  background-color: indianred;
  margin-left: 15px;
}

.deliver .deliver_box .deliver_content .deliver_text {
  width: 46%;
  height: 100%;
  margin-left: 4%;
  position: relative;
}

.deliver .deliver_box .deliver_content .deliver_text .order_bg {
  position: absolute;
  top: 11%;
  left: 2%;
  width: 17%;
  height: 13%;
  background-image: url("../素材/1x/deliver-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.deliver .deliver_box .deliver_content .deliver_text .order_bg2 {
  position: absolute;
  top: 70%;
  left: 2%;
  width: 17%;
  height: 13%;
  background-image: url("../素材/1x/deliver-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order {
  width: 100%;
  height: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_title {
  width: 24%;
  color: white;
  font-size: 22px;
  margin-top: 14%;
  margin-left: 7%;
  z-index: 5;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content {
  width: 67%;
  margin-left: 4%;
  margin-top: 16%;
  font-size: 16px;
  position: relative;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_1 {
  margin-bottom: 3%;
  letter-spacing: 3px;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_2 {
  margin-bottom: 3%;
  letter-spacing: 3px;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_3 {
  margin-bottom: 3%;
  letter-spacing: 2.1px;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_4 {
  margin-left: 1%;
  margin-bottom: 3%;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_5 {
  margin-left: 1%;
  letter-spacing: 1.7px;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_QRcode {
  width: 35%;
  height: 46%;
  background-color: white;
  position: absolute;
  right: 6%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_order .order_content .order_QRcode .QR {
  width: 90%;
  height: 90%;
  background-image: url("../素材/QR.jpg");
  background-size: cover;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_wave {
  width: 100%;
  height: 4%;
  background-image: url("../素材/1x/wave.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_pay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deliver .deliver_box .deliver_content .deliver_text .deliver_pay .pay_title {
  width: 24%;
  color: white;
  font-size: 22px;
  margin-left: 8%;
  margin-top: -1.5%;
  z-index: 5;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content {
  width: 55%;
  height: 100%;
  margin-left: 3%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set1 {
  width: 30%;
  position: relative;
  font-weight: 600;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set1 .pay_2 {
  position: absolute;
  bottom: 0;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set2 {
  width: 70%;
  position: relative;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set2 .pay_1-1 {
  margin-bottom: 2%;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set2 .pay_1-2 {
  margin-bottom: 2%;
  margin-left: -5%;
}

.deliver .deliver_box .deliver_content .deliver_text .pay_content .set2 .pay_2-1 {
  position: absolute;
  bottom: 0;
}

.contact {
  width: 100%;
  height: 90vh;
  background-color: #EEEBEC;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .ice_1 {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 3%;
  background-image: url("../素材/1x/greenice.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact .ice_2 {
  width: 30%;
  height: 35%;
  background-image: url("../素材/1x/yellowice.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  left: 10%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.contact .ice_3 {
  width: 20%;
  height: 35%;
  background-image: url("../素材/1x/greenice.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  right: 10%;
}

.contact .ice_4 {
  width: 15%;
  height: 25%;
  background-image: url("../素材/1x/redice.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 17%;
  right: 1%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.contact .ice_5 {
  position: absolute;
}

.contact .contact_box {
  position: relative;
  height: 70vh;
}

.contact .contact_box .contact_map {
  width: 100%;
  height: 70%;
  border-radius: 60px;
  background-color: darkslateblue;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact_box .contact_map .address {
  width: 30%;
  height: 65%;
  border-radius: 60px;
  background-color: #11A99E;
  position: absolute;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact_box .contact_map .address .iceyellow {
  position: absolute;
  left: 55%;
  bottom: -5%;
  z-index: 5;
}

.contact .contact_box .contact_map .address .icered {
  position: absolute;
  right: -6%;
  bottom: -3%;
}

.contact .contact_box .contact_map .address .address_left {
  color: white;
  width: 28%;
  margin-top: 15%;
  margin-left: 6%;
}

.contact .contact_box .contact_map .address .address_left .left1 {
  margin-bottom: 77%;
}

.contact .contact_box .contact_map .address .address_left .left2 {
  margin-left: 10%;
  margin-bottom: 18%;
  letter-spacing: 11px;
}

.contact .contact_box .contact_map .address .address_left .left3 {
  margin-left: 10%;
  margin-bottom: 17%;
  letter-spacing: 11px;
}

.contact .contact_box .contact_map .address .address_left .left4 {
  margin-left: 10%;
  letter-spacing: 11px;
}

.contact .contact_box .contact_map .address .address_right {
  margin-top: 15%;
  color: white;
}

.contact .contact_box .contact_map .address .address_right .right1 {
  margin-bottom: 2%;
}

.contact .contact_box .contact_map .address .address_right .right2 {
  margin-bottom: 2%;
}

.contact .contact_box .contact_map .address .address_right .right3 {
  margin-bottom: 8%;
  letter-spacing: 5px;
}

.contact .contact_box .contact_map .address .address_right .right4 {
  margin-bottom: 8%;
  letter-spacing: 6px;
}

.contact .contact_box .contact_map .address .address_right .right5 {
  letter-spacing: 1px;
  margin-bottom: 8%;
}

.contact .contact_box .contact_map .address .address_right .right6 {
  letter-spacing: 1px;
  margin-bottom: 2%;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: #11A99E;
}
/*# sourceMappingURL=style.css.map */